body {
    padding-right: 20%;
    margin-top: 0;
}

.kasir-navigasi {
    background-color: #24323D;
}

.kasir-body {
    margin: 0;
    padding-right: 20%;
}

.div-title-keranjang {
    top: 0;
    align-content: center;
    text-align: center;
    position: relative;
    margin: 0;
    width: 100%;
    height: auto;
}

.title-keranjang {
    color: #FFFFFF;
}

.title-keranjang:hover {
    text-decoration: none;
    color: #FFFFFF;
}

.teks-fix {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.keranjang {
    overflow-y: scroll;
    position: fixed;
    right: 0;
    width: 20%;
    height: 100%;
    background-color: #3EB728;
    top: 50px;
}

.div-button-keranjang {
    bottom: 0;
    right: 0;
}

.button-keranjang {}

.keranjang-body {
    margin: 2%;
    margin-top: 25px;
    margin-bottom: 50px;
}

.total-harga {
    text-align: center;
    color: #68217A;
}

.total-harga:hover {
    color: #000;
}